//
// Styles for Nodes
// --------------------------------------------------

.field-intor-text {
  font-size: x-large;
  font-weight: 100;
}

.features-front {
  padding: 15px 0 30px;
}

.field-svg-image svg {
  max-width: 100%;
  height: auto;
}
// akzioneru list
.node-bsm-papers .panel-pane, .pane-node-field-paper {
  padding-top:0;
  padding-top:0;
}