//
// Styles for Views
// --------------------------------------------------

// fix views admin labels
.views-display-setting .label {
  font-size: 1em;
  padding: 0;
  color: $gray;
  background:none;
  line-height: 20px;
}

// leaflet map control and copyright

.leaflet-control-container {
  .leaflet-control-attribution {
//  .leaflet-control-zoom {
    visibility: hidden;
  }
}

.leaflet-popup-content a {
  display: block;
  padding:3px 0;
  font-size: small;
  line-height: 1;
}

// owl gallery

.view-media-field-gallery {
  .owl-item {
    position:relative;
    .caption {
      font-size: smaller;
      padding: 20px;
      padding-top: 120%;
      position: absolute;
      bottom: 0;
      height:100%;
      width:100%;
      overflow:hidden;
      line-height:1;
      
      &:hover, &:focus {
        background: rgba(0,0,0,0.5);
        font-size: 125%;
        padding-top: 20px;
        text-shadow: 0px 0px 1px #999;
        color: #efefef;
      }
    }
  }
  
}

.view-content .views-row {margin-bottom: 15px; position:relative; @extend .clearfix;}

// views grid

.views-grid-6 {
  .views-row {
    @extend .col-md-2;
  }
  .views-row-7,.views-row-14,.views-row-21 {clear:both;}
  
}

.views-grid-4 {
  .views-row {
    @extend .col-md-3;
    @extend .col-sm-6;
  }
  .views-row-5,.views-row-10,.views-row-15 {clear:both;}
  
}

.views-grid-3 {
  .views-row {
    @extend .col-md-4;
  }
  .views-row-4,.views-row-8,.views-row-12, .views-row-16 {clear:both;}
  
}

.views-grid-2 {
  .views-row {
    @extend .col-md-6;
  }
  .views-row-3,.views-row-5, .views-row-7, .views-row-9, .views-row-11 , .views-row-13 {clear:both;}
  
}

// margins on nested rows

.row, .container .view-content {
  margin-left:-15px;margin-right:-15px;
}

.row .row, .container .row .row .view-content,
.container .row .view-content .row,
.container .row .view-content .view-content {margin-left:0;margin-right:0;}

// front page first oject highlite

.front .vies-row-first {
  .node-bsm-project {
    background: #cceecc;
    // title
    h5 {
      padding: 0 8px;
      a:link {color: #222;}
    }
    .meta {padding: 0 8px;}
  }
}

// objects list

.page-node-33 .vies-row-first {
  .node-bsm-project {
     // title
    h4 {
      font-size: 125%;
      font-weight: bold;
    }
  }
}
